
body {
    margin: 0;
}

.aap {
    position: relative;
    height: 100%;
    background-color: #FFFDF6;
}

body {
    margin: 0;
}

.appbar {
    background-color: #265366;
    color: #fff;
    padding: 12px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.memo-list {
    padding-top: 5px;
}

.memo-list-item {
    background-color: #fff;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
.memo-list-item h3 {
    font-size: 18px;
    margin: 0;
}
.memo-list-item p {
    font-size: 11px;
    color: #a2a2a2;
    margin: 0;
}

.memo-add-button {
    width: 50px;
    height: 50px;
    background-color: #E31676;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    position: absolute;
    bottom: 24px;
    right: 24px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
